/*========================================================
        SUIT FONTS
=========================================================*/

@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 300;
  src: url('~@/assets/fonts/suitLight.eot') format("eot"),
  url('~@/assets/fonts/suitLight.woff') format('woff'),
  url('~@/assets/fonts/suitLight.ttf') format('truetype')
}

@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/suitRegular.eot') format("eot"),
  url('~@/assets/fonts/suitRegular.woff') format('woff'),
  url('~@/assets/fonts/suitRegular.ttf') format('truetype')
}

@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 500;
  src: url('~@/assets/fonts/suitMedium.eot') format("eot"),
  url('~@/assets/fonts/suitMedium.woff') format('woff'),
  url('~@/assets/fonts/suitMedium.ttf') format('truetype')
}

@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 600;
  src: url('~@/assets/fonts/suitSemiBold.eot') format("eot"),
  url('~@/assets/fonts/suitSemiBold.woff') format('woff'),
  url('~@/assets/fonts/suitSemiBold.ttf') format('truetype')
}

@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/suitBold.eot') format("eot"),
  url('~@/assets/fonts/suitBold.woff') format('woff'),
  url('~@/assets/fonts/suitBold.ttf') format('truetype')
}

@font-face {
  font-family: "SUIT";
  font-style: normal;
  font-weight: 700;
  src: url('~@/assets/fonts/suitExtraBold.eot') format("eot"),
  url('~@/assets/fonts/suitExtraBold.woff') format('woff'),
  url('~@/assets/fonts/suitExtraBold.ttf') format('truetype')
}


/*========================================================
        RALEWAY FONTS
=========================================================*/
@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/raleway.ttf') format("truetype"),
  url('~@/assets/fonts/raleway.otf') format("opentype"),
  url('~@/assets/fonts/raleway.woff') format('woff'),
  url('~@/assets/fonts/raleway.eot') format('eot'),
  url('~@/assets/fonts/raleway.woff2') format('woff2'),
}

/*========================================================
        SPACING
=========================================================*/

$spacer: 2.2rem;
$spacer-sm: ($spacer / 2);
$spacer-lg: ($spacer * 2);


/*========================================================
        COLORS
=========================================================*/

//$primary: #7367F0;
//$success: #28C76F;
//$danger: #EA5455;
//$warning: #FF9F43;
$dark: #1E1E1E;
$grey: #b8c2cc;
$grey-light: #dae1e7;
$white: #fff;
$black: #22292f;

$white: #ffffff;
$black: #202020;
$gray: #6A6A6A;
$main: #316BEB;
$second: #1D284C;
$success: #00A0E9;
$primary: #784FEA;
$info: #44C19A;
$danger: #E93F34;
$warning: #FBE056;


/*========================================================
        TYPOGRAPHY
=========================================================*/

$font-family-sans-serif: 'SUIT', Helvetica, Arial, sans-serif !default;
$font-family-serif: 'SUIT', "Times New Roman", Times, serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 14px !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default;
$font-size-small: ceil(($font-size-base * 0.85)) !default;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.74;
$h3-font-size: $font-size-base * 1.51;
$h4-font-size: $font-size-base * 1.32;
$h5-font-size: $font-size-base * 1.14;
$h6-font-size: $font-size-base;


$line-height-base: 1.625rem !default;

$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: #2c2c2c;
$headings-margin-bottom: ($spacer / 2) !default;

$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-bold: 500;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.45;

$content-color: #626262;
$theme-background: #ffffff;


/*========================================================
        TYPOGRAPHY
=========================================================*/

$reduced-sidebar-width: 80px;


/*========================================================
        DARK THEME
=========================================================*/

$sidebar-dark-bg: #10163a;
$content-dark-bg: #262c49;
$dark-card-color: #10163a;
$table-dark-stripe: #212744;
$table-light-stripe: #262c49;
$grid-dark-color: #343661;

$theme-light-dark-bg: #262c49;
$theme-dark-bg: #10163a;
$theme-dark-secondary-bg: #171e49;
$theme-dark-text-color: #c2c6dc;
$theme-dark-heading-color: #ebeefd;
// $theme-dark-heading-color: #C9CAD2;
$theme-dark-border-color: #414561;
$theme-dark-shadow-color: #0C112E;
